<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>顧客追加</title>
</head>
<body>
    <h3>顧客情報登録</h3>
    <div class="client_form">
        <form>
            <div class="client_name">
                <label>顧客名</label>
                <input type="text">
            </div>
            <div class="post_code">
                <label>郵便番号</label>
                <input type="text">
            </div>
            <div class="address">
                <label>住所</label>
                <input type="text">
            </div>
            <div class="telephone_number">
                <label>TEL</label>
                <input type="text">
            </div>
            <div class="fax">
                <label>FAX</label>
                <input type="text">
            </div>
            <div class="note">
                <label>備考</label>
                <textarea rows="10" cols="100"></textarea>
            </div>
            <div class="sumbit">
                <input type="submit" value="登録">
            </div>
        </form>
    </div>

</body>
</html>