<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>顧客一覧</title>
</head>
<body>
    <h3>顧客一覧</h3>
    <form>
        <input type="text" name="name">
        <input type="submit" value="検索">
    </form>

    <div class="client_table">
        <table>
            <thead>
                <tr>
                    <td>顧客名</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="client : ${clientList}">
                    <td th:text="${client.name}"></td>
                    <td>
                        <form th:action="@{'/client/' + ${client.id}}">
                            <input type="hidden" th:value="${client.id}">
                            <input type="submit" value="詳細">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>