<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header xmlns:th="http://www.thymeleaf.org" th:fragment="header">
        <nav>
            <ul>
                <li><a th:href="@{/project/add}">プロジェクト登録</a></li>
                <li><a th:href="@{/client/add}">顧客登録</a></li>
                <li><a th:href="@{/proceeds/list}">売上管理</a></li>
                <li><a th:href="@{/client/list}">顧客リスト</a></li>
                <li><a th:href="@{/project/list}">ホーム</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>