<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head(title = '売上管理',scripts = ~{}, links = ~{})">
</head>
<body>
    <h3 th:text="${date}"></h3>
    <h3>売上管理</h3>
    <div class="search">
        <form th:action="@{/proceeds/search}">
            <label>日付</label>
            <input type="month" name="date">
            <label>商品</label>
            <select name="item">
                <option value="10">すべて</option>
                <option th:each="item : ${item}" th:value="${item.key}" th:text="${item.value}" th:selected="${item.key == 10}"></option>
            </select>
            <input type="submit" value="選択">
        </form>
    </div>
    <div class="proceeds_table">
        <table>
            <thead>
                <tr>
                    <th>納品日</th>
                    <th>顧客名</th>
                    <th>商品</th>
                    <th>金額</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each=" order : ${order}">
                    <td th:text="${order.deliveryDate}"></td>
                    <td th:text="${order.client.name}"></td>
                    <td th:text="${item.get(order.itemCategory)}"></td>
                    <td th:text="${order.amount}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h5>合計</h5><p th:text="${allAmount}"></p>
    <div class="button_csv">
        <button id="csv_btn">CSVに出力</button>
    </div>
    <script type="text/javascript" th:src="@{/js/proceeds.js}"></script>
</body>
</html>