<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>プロジェクトの登録</title>
</head>
<body>
    <h3>プロジェクト情報登録</h3>
    <div class="project_form">
        <form th:action="@{/project/save}" th:object="${projectDto}" method="post">
            <div class="client_name">
                <label>顧客名</label>
                <input type="text">
                <input type="hidden" name="id" th:field="${clientId}" id="client_id">
            </div>
            <div class="item">
                <label>商品名</label>
                <select th:field="*{item}">
                    <option th:each="item : ${items}" th:value="${item.key}" th:text="${item.value}" th:selected="${item.key == 0}"></option>
                </select>
            </div>
            <div class="quantity">
                <label>数量</label>
                <input type="text" th:field="*{quantity}">
            </div>
            <div class="amount">
                <label>金額</label>
                <input type="text" th:field="*{amount}">
            </div>
            <div class="manager">
                <label>担当者</label>
                <select name="manager" th:field="*{manager}">
                   <option th:each="manager : ${managers}" th:value="${manager.key}"
                           th:text="${manager.value}" th:selected="${manager.key == 0}"></option>
                </select>
            </div>
            <div class="reception_date">
                <label>受付日</label>
                <input type="date" th:field="*{receptionDate}">
            </div>
            <div class="progress">
                <label>状況</label>
                <select name="progress" th:field="*{progress}">
                    <option th:each="progress : ${progress}" th:value="${progress.key}"
                            th:text="${progress.value}" th:selected="${progress.key == 0}"></option>
                </select>
            </div>
            <div class="delivery_date" th:field="*{delivery_date}">
                <label>納品日</label>
                <input type="date">
            </div>
            <div class="submit">
                <input type="submit" value="登録">
            </div>
        </form>
    </div>
    <div class="client_search">
        <h3>顧客名検索</h3>
        <form th:action="@{/client/search}">
            <input type="text" name="name">
            <input type="submit" value="検索">
        </form>
        <div class="client_table">
            <table>
                <thead>
                <tr>
                    <td>顧客名</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="client : ${clientList}">
                    <td th:text="${client.name}"></td>
                    <td>
                        <form th:action="@{'/client/' + ${client.id}}">
                            <input type="hidden" th:value="${client.id}">
                            <input type="submit" value="詳細">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
